/* * {border:1px solid red} */


body {
    display: flex;
    flex-direction: column;

    margin: 0;
    min-height: 100vh;
}

.header {
    flex-grow: 0;
    flex-shrink: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 4px 16px;

    background-color: #F9FaF8;

    border-width: 0px 0px 1px 0px;
    border-color: rgb(209, 209, 209);
    border-style: solid;
}

.freerooms-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: bold;
    font-family: Arial;
    color: darkorange;
}

.navbar-icon-container {
    background-color: white;

    border: 1px solid orange;
    border-radius: 6px;

    margin: 3px;
}

.search-header {
    display: flex;

    padding: 16px 16px;
}

.filters-container {
    flex: 0 0 auto;
    width: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    color: darkorange;
    font-weight: bold;

    border: 2px solid darkorange;
    border-radius: 10px;

    background-color: #F9FaF8;

    margin: 0px 100px 0px 0px;
}

.search-bar {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    
    padding: 0px 16px;
}

.search-bar-icon {
    flex: 0 0 30px;

    margin: 0px 12px 0px 0px;
}

.search-input {
    flex: 1;

    border-width: 0px;
}

.sort-container {
    flex: 0 0 auto;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    color: darkorange;
    font-weight: bold;

    border: 2px solid darkorange;
    border-radius: 10px;

    background-color: #F9FaF8;

    margin: 0px 0px 0px 100px;
}

.body {
    height: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;

    padding: 0px 10px 10px 10px;
}

.building-container {
    position: relative;
    height: 300px;
    overflow: hidden;

    border-radius: 10px;

    font-family: arial;
}

.building-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;

}

.rooms-avaliable {
    top: 10px;
    right: 10px;

    background-color: white;

    border-radius: 10px;

    font-size: 10px;
    font-weight: bold;
    padding: 8px;

    display: flex;
    align-items: center;
}

.avaliable-icon {
    height: 13px;
    width: 13px;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;

    margin: 0px 5px 0px 0px;
}

.building-name {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    background-color: darkorange;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;

    padding: 10px 10px;
}

.footer {
    background-color: #1F2937;
    color: #F9FaF8;
  
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  
    flex-grow: 0;
    flex-shrink: 0;
    
    height: 40px;
}
  